.songNameToEdit{
    margin: 10px;
    display: flex;
    flex: 0 0 33.33%;
    flex-direction: row;
    max-height: 50px;
    justify-content: center;
    align-items: center;
}

input{
    max-height: 50px;
}
h2{
    width: 1333px;
}

button{
    max-height: 40px;
}